.change-password-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 8px;
}

.change-password-label {
  min-width: 175px;
  font-size: 16px;
  font-weight: 6001;
  margin: 4px;
}

.change-password-input {
  flex: 1;
  min-width: 200px;
  padding: 2px 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: rgb(144, 232, 232);
}

.change-password-error {
  margin-top: -4px;
  margin-bottom: -4px;
}