* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar {
  border-right: 1px solid #dee2e6;
  min-height: 100vh;
  animation: slide-in 0.3s ease-in-out;
}

.sidebar.collapsed {
  display: none;
}

.close-sidebar {
  font-size: 30px;
}

.collapse-toggle {
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
}

.collapse-arrow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.user-section .collapse-arrow {
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

.collapse-toggle.open .collapse-arrow {
  transform: rotate(-90deg) translateX(50%);
}

.sidebar-link {
  color: #212529
}

.sidebar-item  {
  position: relative;
}

.sidebar-item:hover  {
  background-color: #f4f5f7;
}

.sidebar-item:hover i,
.sidebar-item:hover + i,
.sidebar-item:hover .sidebar-link {
  color: #42bff5; 
}

.sidebar-link {
  display: block;
  width: 100%;
}

.main {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.user-section {
  min-width: 210px;
  position: relative;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.user-section:hover .user-section-list {
  display: block;
}

.user-section-list {
  width: 100%;
  display: none;
  padding: 5px;
  position: absolute;
  top: 40px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
}

.user-section-list::before {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: -30px;
  left: 0;
}

.user-section-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px;
  border-radius: 2px;
}


.user-section-item:hover {
  background: #f4f1f1;
}

.user-section-item:hover a {
  color: #42bff5;
}

.user-section-item a {
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}
