.license-form {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.license-form-header {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 8px;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.license-form-title {
  font-size: 23px;
  margin: 0;
}


.license-form-row {
  margin-bottom: 8px;
}

.row-label {
  color: #000;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
}

.license-form-input,
.place-input {
  width: 100%;
  padding: 2px 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.company-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.company-info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.company-info-label{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  margin-right: 4px;
}

.company-info-input {
  padding: 2px 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  flex: 1;
}
.seperate {
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
  margin: 8px 0;
}

.size-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ads-size {
  width: 50px;
  margin: 0 4px;
  padding: 2px 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.ads-images-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.ads-images-add,
.ads-images-remove {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  margin-left: 4px;
  border: none;
  border-radius: 5px;
}

.ads-images-add {
  background-color: #198754;
}

.ads-images-remove {
  color: black;
  background-color: transparent;
  border: 1px solid #ccc;
}

.ads-images-add:hover {
  cursor: pointer;
  background-color: #157347;
}

.ads-images-remove:hover {
  cursor: pointer;
  background-color: rgb(238, 236, 236);
}

.ads-images-link {
  display: flex;
  margin-bottom: 4px;
}

.ads-images-input {
  flex: 1;
  margin-left: 4px;
  padding: 2px 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.request-dropdown-label {
  margin-right: 4px;
  font-size: 18px;
  line-height: 18px;
}

.adType-select {
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: normal;
}

.place-adType-select {
  width: 100%;
  padding: 6px;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: normal;
}

.adType-option {
  font-size: 16px;
  font-weight: normal;
}

/* licenseDetail.ejs ------------------------ */
.card-header {
  position: relative;
}

.detail-back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-width: 480px) {
  .detail-back-btn {
    position: absolute;
    left: 70px;
    top: -65px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 8px 0;
}

.title-icon {
  font-size: 23px;
  margin-right: 4px;
}

.info-row {
  display: flex;
}

.contact-data {
  display: flex;
}

.contact-data .info-row {
  margin-right: 30px;
}

.centered-row {
  text-align: center;
}

.row-name, 
.row-data {
  font-size: 16px;
}

.row-data {
  font-weight: normal;
  margin-left: 8px;
}

.content {
  width: 100%;
  min-height: 100px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 8px;
}

.ads-image {
  width: 100%;
  background-size: contain;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.ad-image-wrapper .ads-image {
  margin-bottom: unset;
}

/* modal ------------------------------------ */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 999;
}
.custom-modal {
  width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-modal i {
  font-size: 50px;
  margin-bottom: 8px;
}
.custom-modal h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.back-btn {
  position: absolute;
  left: 5px;
  top: -5px;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: -5px;
}

@media (max-width: 480px) {
  .back-btn {
    position: absolute;
    left: 50px;
    top: -72px;
  }
}

/* editAdForm -------------------------- */
#edit-ad-form {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.ad-image-wrapper {
  position: relative;
}

.ad-image-wrapper + .ad-image-wrapper {
  margin-top: 10px;
}

.delete-img-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.ad-image-wrapper:hover .delete-img-overlay {
  display: block;
}

.delete-img-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.license-image-row {
  min-height: 30px;
}

#reason-input {
  width: 100%;
  min-height: 100px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow-y: auto;
}
/*  updateDetail------------ */
.update-data {
  display: flex;
  max-height: 100px;
  overflow: auto;
  font-size: 16px;
  font-weight: normal;
  padding: 2px 4px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .update-data {
  padding: 6px;
  border: 1px solid #000;
  border-radius: 6px;
}

.old-data {
  margin-bottom: 0;
  margin-right: 4px;
  text-decoration: line-through;
  color: rgb(242, 85, 85);
}

.new-data {
  margin-bottom: 0;
  margin-right: 4px;
  color: rgb(0, 122, 171);
}

.old-data.not-changed {
  text-decoration: none;
  color: #000;
}

#edit-account-form,
#create-account-form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}