.login-main {
  width: 100%;
  min-height: 100vh;
  background-image: url('/images/login_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.6);
}

.form-title {
  font-size: 25px;
  font-weight: 400;
}

.form-input {
  position: relative;
}

.form-control {
  border: none;
  box-shadow: none !important;
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.87);
  position: absolute;
  bottom: 0;
}

.form-control:focus ~ .line {
  background-color: #69a0f1;
}

.form-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

.form-link:hover {
  color: #69a0f1!important;
}

.form-button {
  width: 80%;
  padding: 5px 0;
  background-color: #212529;
  color: #fff;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

.google-button {
  display: flex;
  width: 80%;
  padding: 5px 0;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
}

.form-button:hover {
  background-color: #3c4147;
}

.google-button:hover {
  background-color: #eee;
  border: 1px solid #000;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.error-message {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  bottom: -20px;
}

/* verify code */
.code-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.code-input input{
  width: 200px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.code-input i  {
  font-size: 30px;
}

.code-input .line {
  width: 250px;
}

/* ------------------- */