<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeAds</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="login-main">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="form-container card col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">
          <form class="card-body d-flex flex-column align-items-center" action="/weads/forget-password" method="post">
            <h3 class="text-center card-title mb-4">Quên mật khẩu</h3>
            <div class="mb-5 form-input">
              <p class="card-text mb-4">Nhập vào email liên kết với tài khoản của bạn và chúng tôi sẽ gửi bạn mã xác nhận để thay đổi mật khẩu.</p>
              <label for="emailInput" class="form-label">Nhập email</label>
              <div class="d-flex align-items-center justify-content-between">
                <i class="bi bi-envelope"></i>
                <input type="email" class="form-control" id="emailInput" name="email">
                <div class="line"></div>
              </div>
              <p class="card-text text-danger text-center error-message"><%- error %></p>
            </div>
            <button class="form-button mb-3">Gửi mã</button>
            <a class="form-link text-body" href="/weads/login">Trở lại đăng nhập</a>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>