<%- include('./department/partials/header') %>
<div class="login-main">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="form-container card col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">
        <form class="card-body d-flex flex-column align-items-center" id="change-password-form" method="post">
          <h3 class="text-center card-title mb-4">Đổi mật khẩu</h3>
          <div class="mb-3 w-75 form-input">
            <label for="newPasswordInput" class="form-label">Mật khẩu hiện tại</label>
            <div class="d-flex align-items-center justify-content-between">
              <i class="bi bi-key-fill"></i>
              <input type="password" class="form-control old-password" name="newPassword" required>
              <div class="line"></div>
            </div>
          </div>
          <div class="mb-3 w-75 form-input">
            <label for="newPasswordInput" class="form-label">Mật khẩu mới</label>
            <div class="d-flex align-items-center justify-content-between">
              <i class="bi bi-key-fill"></i>
              <input type="password" class="form-control new-password" name="newPassword" required>
              <div class="line"></div>
            </div>
          </div>
          <div class="mb-3 w-75 form-input">
            <label for="newPasswordInput2" class="form-label">Nhập lại mật khẩu mới</label>
            <div class="d-flex align-items-center justify-content-between">
              <i class="bi bi-key-fill"></i>
              <input type="password" class="form-control retype-new-password" required>
              <div class="line"></div>
            </div>
          </div>
          <p class="change-password-error card-text text-danger text-center mb-2"></p>
          <button class="form-button mb-3">Xác nhận</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  function showSuccessModal() {
    Swal.fire({
        icon: 'success',
        title: 'Đổi mật khẩu thành công',
        showCancelButton: false,
        timer: null
    }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = '/weads/home';
        }
    });
  }
  $('#change-password-form').on('submit', async function(event) {
    event.preventDefault();
    $('#change-password-submit').prop("disabled", true);
    const oldPassword = $('.old-password').val();
    const newPassword = $('.new-password').val();
    const retype = $('.retype-new-password').val();

    if (newPassword.length < 6) {
      $('.change-password-error').html('<span>Mật khẩu mới phải có ít nhất 6 kí tự</span>')
      $('#change-password-submit').prop("disabled", false);
      return;
    }

    if (newPassword.includes(' ')) {
      $('.change-password-error').html('<span>Mật khẩu không được chứa khoảng trắng</span>')
      $('#change-password-submit').prop("disabled", false);
      return;
    }

    if (retype != newPassword) {
      $('.change-password-error').html('<span>Mật khẩu mới và mật khẩu nhập lại không trùng khớp</span>')
      $('#change-password-submit').prop("disabled", false);
      return;
    }

    const response = await fetch('/weads/user/change-password', {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        oldPassword,
        newPassword
      })
    })
    .then (function(result) {
      return result.json();
    })
    console.log(response);
    if (response.success)
      showSuccessModal();
    else {
      if (response.error == "Id not found") {
        window.location.replace("/weads/login");
      }
      let msg = response.error;
      $('.change-password-error').html('<span>'+ msg +'</span>')
      $('#change-password-submit').prop("disabled", false);
      return;
    }
  });
</script>
<%- include('./department/partials/footer') %>