.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.planned-marker,
.un-planned-marker {
  width: 10px;
  height: 10px;
}

#notification-container {
  width: 90%;
  max-height: 95%;
  height: 95%;
  position: absolute;
}

#notification-parent {
  width: 25vw;
  max-height: 95vh;
  height: 95vh;
  position: absolute;
  right: 2vw;
  top: 2.5vh;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
