.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.planned-marker,
.un-planned-marker {
  width: 10px;
  height: 10px;
}

#notification-container {
  width: 95%;
  max-height: 95%;
  height: 95%;
  position: absolute;
  overflow-y: auto;
}

#notification-container::-webkit-scrollbar {
  width: 10px;
}

#notification-container::-webkit-scrollbar-track {
  background: transparent; 
}
 
#notification-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

#notification-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#notification-parent {
  width: 25vw;
  max-height: 95vh;
  /* height: 90vh; */
  position: absolute;
  right: 10px;
  top: 70px;
  bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
