<div class="flex-nowrap container-fluid position-relative">
  <div class="row">
    <aside class="sidebar collapsed position-absolute top-0 start-0 bg-white z-2 col-12 col-sm-4 col-md-3 col-lg-2">
      <div class="h-100">
        <div class="d-flex justify-content-between border-bottom">
          <% if(username != null){ %>
          <a class="h3 text-body pt-4" style="font-size: 1rem;" href="/weads/home">Hi <%- username %></a>
          <% } else { %>
          <a class="h3 text-body" href="/weads/home">Not login</a>
          <% } %>
          <button class="btn close-sidebar"><i class="bi bi-x"></i></button>
        </div>
        <ul class="sidebar-list">
          <% if (username!= null && role === 'Department') { %>
          <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/report" class="sidebar-link sidebar-link">Xem báo cáo</a></li>
          <div class="collapse-toggle">
            <li class="sidebar-item w-100 d-flex align-items-center p-2" data-bs-toggle="collapse" data-bs-target="#collapse-list">Quản lí</li>
            <i style="width: 16px; height: 16px;" class="collapse-arrow bi bi-caret-left-fill"></i>
          </div>
          <div id="collapse-list" class="collapse border-top border-bottom">
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/department/places/allDistrict" class="sidebar-link">Quận, phường</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Hình thức quảng cáo</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Điểm đặt quảng cáo</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Bảng quảng cáo</a></li>
          </div>
          <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/department/create" class="sidebar-link">Tạo tài khoản cán bộ</a></li>
          <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/license-request/view-all" class="sidebar-link">Xét duyệt yêu cầu</a></li>
          <li class="sidebar-item w-100 d-flex align-items-center p-2">
            <i style="font-size: 20px;" class="bi bi-box-arrow-right"></i>
            <a href="/weads/logout" class="sidebar-link mx-2">Đăng xuất</a>
          </li>
          <% } else if(username!= null && role === 'District') { %>
          <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/report" class="sidebar-link sidebar-link">Xem báo cáo</a></li>
          <div class="collapse-toggle">
            <li class="sidebar-item w-100 d-flex align-items-center p-2" data-bs-toggle="collapse" data-bs-target="#collapse-list">Quản lí</li>
            <i style="width: 16px; height: 16px;" class="collapse-arrow bi bi-caret-left-fill"></i>
          </div>
          <div id="collapse-list" class="collapse border-top border-bottom">
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Hình thức quảng cáo</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Điểm đặt quảng cáo</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Bảng quảng cáo</a></li>
          </div>
          <li class="sidebar-item w-100 d-flex align-items-center p-2">
            <i style="font-size: 20px;" class="bi bi-box-arrow-right"></i>
            <a href="/weads/logout" class="sidebar-link mx-2">Đăng xuất</a>
          </li>
          <% } else if(username!= null && role === 'Ward') { %>
          <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/report" class="sidebar-link sidebar-link">Xem báo cáo</a></li>
          <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/place/view-all" class="sidebar-link sidebar-link">Xem các điểm đặt quảng cáo</a></li>
          <li class="sidebar-item w-100 d-flex align-items-center p-2">
            <i style="font-size: 20px;" class="bi bi-box-arrow-right"></i>
            <a href="/weads/logout" class="sidebar-link mx-2">Đăng xuất</a>
          </li>
          <% } else { %>
          <li class="sidebar-item w-100 d-flex align-items-center p-2">
            <a href="/weads/login" class="sidebar-link mx-2">Đăng nhập</a>
          </li>
          <% } %>
        </ul>
      </div>
    </aside>

    <div class="main flex-grow-1 col-12 col-sm-8 col-md-9 col-lg-10">
      <nav class="navbar navbar-expand-sm border-bottom mb-3 px-3">
        <button class="btn sidebar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>
</div>

<script src="/js/sidebar.js"></script>