<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeAds</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
  <div class="flex-nowrap container-fluid position-relative">
    <div class="row">
      <aside class="sidebar collapsed position-absolute top-0 start-0 bg-white z-2 col-12 col-sm-4 col-md-3 col-lg-2">
        <div class="h-100">
          <div class="d-flex justify-content-between border-bottom">
            <% if(username != null){ %>
            <a class="h3 my-2 text-body pt-4" style="font-size: 1rem;" href="/weads/home">Hi <%- username %></a>
            <% } else { %>
            <a class="h3 my-2 text-body" href="/weads/home">Not login</a>
            <% } %>
            <button class="btn close-sidebar"><i class="bi bi-x"></i></button>
          </div>
          <ul class="sidebar-list">
            <% if (username!= null) { %>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/report" class="sidebar-link sidebar-link">Xem báo cáo</a></li>
            <div class="collapse-toggle">
              <li class="sidebar-item w-100 d-flex align-items-center p-2" data-bs-toggle="collapse" data-bs-target="#collapse-list">Quản lí</li>
              <i style="width: 16px; height: 16px;" class="collapse-arrow bi bi-caret-left-fill"></i>
            </div>
            <div id="collapse-list" class="collapse border-top border-bottom">
              <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/department/places/allDistrict" class="sidebar-link">Quận, phường</a></li>
              <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/department/advertisement/allType" class="sidebar-link">Hình thức quảng cáo</a></li>
              <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/department/report/allType" class="sidebar-link">Hình thức báo cáo</a></li>
              <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Điểm đặt quảng cáo</a></li>
              <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Bảng quảng cáo</a></li>
            </div>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="/weads/department/create" class="sidebar-link">Tạo tài khoản cán bộ</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2"><a href="" class="sidebar-link">Xét duyệt yêu cầu</a></li>
            <li class="sidebar-item w-100 d-flex align-items-center p-2">
              <i style="font-size: 20px;" class="bi bi-box-arrow-right"></i>
              <a href="/weads/logout" class="sidebar-link mx-2">Đăng xuất</a>
            </li>
            <% } else { %>
            <li class="sidebar-item w-100 d-flex align-items-center p-2">
              <a href="/weads/login" class="sidebar-link mx-2">Đăng nhập</a>
            </li>
            <% } %>
          </ul>
        </div>
      </aside>

      <div class="main flex-grow-1 col-12 col-sm-8 col-md-9 col-lg-10">
        <nav class="navbar navbar-expand-sm border-bottom mb-3 px-3">
          <button class="btn sidebar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>