<div class="modal " tabindex="-1" id="ads-modal">
  <div class="modal-dialog modal-lg" style="min-width:90%; height: 80;">
    <div class="modal-content" style="width: 100%">
      <div class="modal-header">
        <h5 class="modal-title">Chi tiết điểm QC</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="margin: auto" class="row">
          <div id="carouselExampleIndicators" class="carousel slide col-6">
            <div class="carousel-indicators" id="carousel-indicators-id"></div>
            <div class="carousel-inner" id="carousel-inner-id"></div>
            <button class="carousel-control-prev bg-black " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-black " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="col-6">
            <h2 id="modal-header"></h2>
            <h4 id="modal-address"></h4>
            <h4 id="modal-type"></h4>
            <h4 id="modal-scale"></h4>
            <h4 id="modal-planned"></h4>
            <a id="update-link" target="_blank">
              <button class="btn btn-primary ">Yêu cầu chỉnh sửa</button>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between ">
        <div></div>
        <div>
          <button class="btn btn-primary " id="next-ad-btn">Xem biển quảng cáo khác</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="no-ads-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Địa điểm này chưa có bảng quảng cáo nào</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>